<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>emru</title>
	<link rel="stylesheet" href="styles/app.css">
</head>
<body>
	<!-- <header>
		<ul id="global-actions">
			<li class="action"></li>
		</ul>
	</header> -->
	<main>
		<header>
			<ul id="lists">
				<li class="active"><a href="">Today</a></li>
				<li><a>Week</a></li>
				<li><a>Month</a></li>
			</ul>
		</header>
		<section id="list">
			<header>
				<ul id="list-actions">
					<li class="action">
						<a title="New Task" class="add fa fa-plus"></a>
					</li>
					<li class="action">
						<a title="Clear list" class="clear fa fa-ban"></a>
					</li>
					<li class="action">
						<a title="Search" class="search fa fa-search"></a>
					</li>
				</ul>
			</header>
			<form id="add">
				<input type="text" name="task" placeholder="New Task">
			</form>
			<ul id="tasks"></ul>
		</section>
	</main>
	<script id="task-template" type="text/template">
		<section class="task-main">
			<div class="task-title"><a><%= title %></a></div>
			<div class="task-body"><p><%= body %></p></div>
		</section>
		<ul class="task-actions">
			<li class="action">
				<a class="hover-link fa fa-check status"></a>
			</li>
			<li class="action">
				<a class="hover-link fa fa-times remove"></a>
			</li>
		</ul>
	</script>
	<script src="node_modules/jquery/dist/jquery.js"></script>
	<script src="node_modules/underscore/underscore.js"></script>
	<script src="node_modules/backbone/backbone.js"></script>
	<script src="js/helpers.js"></script>
	<script src="js/models.js"></script>
	<script src="js/collections.js"></script>
	<script src="js/views.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
