[Desktop Entry]
Version=0.1.0
Type=Application
Name=emru
GenericName=To-do List
Comment=Today's To-do List
Exec=emru
Terminal=false
Icon=emru
Categories=Application;Productivity;