@font-face
  font-family: 'IRANSansLight'
  src: url('../../fonts/IRAN Sans Light.ttf')
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'IRANSemiBold'
  src: url('../../fonts/IRANSemiBold.ttf')
  font-style: normal
  font-weight: normal

@font-face
  font-family: "Flaticon"
  src: url("../../fonts/flaticon.woff")
  font-weight: normal
  font-style: normal

[class^="icon-"]:before, [class*=" icon-"]:before, [class^="icon-"]:after, [class*=" icon-"]:after
  font-family: Flaticon
  font-size: 1em
  font-style: normal

.icon-add:before
  content: "\e000"
.icon-chart:before
  content: "\e002"
.icon-prefrences:before
  content: "\e007"
.icon-done:before
  content: "\e003"
.icon-edit:before
  content: "\e006"
.icon-cancel:before
  content: "\e005"
  font-weight: bold
.icon-move-up:before
  content: "\e008"
.icon-move-down:before
  content: "\e001"
