@import base

html
  direction: rtl
  font-size: 10px
  color: #fff
  +default-font

body
  background-color: #282b2e

header
  +clearfix
  background-color: #242527
  border-bottom: 1px solid #1b1b1d
  padding: 12px

a
  text-decoration: none
  &.hover-link:hover
    cursor: pointer

.action
  opacity: 0.6
  &:hover
    opacity: 1
  &.active
    opacity: 1

header
  font-size: 1.7em
  #title
    +title-font
    +float-right
  #actions
    +float-left
    +inline-list
    .action
      margin: 0 0.2em

main
  font-size: 2em
  border-top: 1px solid #313639

#add
  padding: 0 20px 0 5px
  border-bottom: 1px solid #313639
  background-color: #313639
  display: none
  input
    +default-font
    +reset-box-model
    +reset-focus
    width: 100%
    color: #fff
    padding: 8px 0
    background-color: #313639
    font-size: 1.6em

#list
  .task
    border-bottom: 1px solid #313639
    &.done
      opacity: 0.4
      .title
        text-decoration: line-through
    .actions
      +inline-list
    .main
      padding: 12px
      +clearfix
      .title
        +float-right
      .actions
        display: none
        font-size: 0.8em
        +float-left
        &.active
          display: block
        .action
          margin: 0 0.2em
    &:hover
      .actions
        display: block
    .etc
      background: #1a1b1d
      text-align: center
      padding: 2px 0
      display: none
      &.active
        display: block

